@import "variables";

/* css */

body {
    margin: 0;
    font-family: Poppins;
}

#two-col {
    position: relative;
    h2 {
        font-family: $headingFont;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-image: url(../images/dot.webp);
            background-repeat: repeat-x;
            width: 40px;
            height: 8px;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-image: url(../images/dot.webp);
            background-repeat: repeat-y;
            width: 8px;
            height: 40px;
        }
    }
    &::after {
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        background-image: url(../images/dot.webp);
        background-repeat: repeat-x;
        height: 8px;
    }
}

@media only Screen and (min-width: 992px) {
}
